node_modules/
website_assets/
temporary screenshots/
inspiration/
CLAUDE.md
package.json
package-lock.json
serve.mjs
screenshot.mjs
*.jpg
*.mov
*.MOV

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
